* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.custom-card {
  background-color: #BAF2E9;
  border: none;
}

h1,
h4 {
  color: #4b4b4b;
}

.highlight-quote {
  background-color: #BAD7F2;
  /* soft blue */
  padding: 1.2rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-top: 1rem;
}

.device-categories {
  margin: 20px;
}

.device-categories h2 {
  text-align: center;
}

.devices-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.device {
  border: 2px solid black;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 20px;
  border-radius: 10px;
}

.device>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.device .head {
  background-color: #cac8c8;
  height: 150px;
  justify-content: space-around;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.device .body {
  background-color: #e9e7e7;
  height: 130px;
  justify-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
}

.device i {
  font-size: 4rem;
}

.device p {
  text-align: center;
}