{% extends 'base.html' %}
<!-- {% load static %} -->
{% block content %}
<h1>Technical Issues page</h1>
<!-- Device categories -->
<section class="device-categories">
    <h2>Select device</h2>
    <div class="devices-container">
        <!-- Mobile -->
        <div class="device mobile">
            <div class="head">
                <i class="fa-solid fa-mobile-screen"></i>
                <h3>Mobile Devices</h3>
            </div>
            <div class="body">
                <p>Get help with your smart phones and tablets</p>
                <button class="device-btn">See guide</button>
            </div>
        </div>
        <!-- Laptop -->
        <div class="device mobile">
            <div class="head">
                <i class="fa-solid fa-laptop"></i>
                <h3>Laptops</h3>
            </div>
            <div class="body">
                <p>Get help with your laptops</p>
                <button class="device-btn">See guide</button>
            </div>
        </div>
        <!-- Desktop -->
        <div class="device mobile">
            <div class="head">
                <i class="fa-solid fa-computer"></i>
                <h3>Desktops</h3>
            </div>
            <div class="body">
                <p>Get help with your desktop computers</p>
                <button class="device-btn">See guide</button>
            </div>
        </div>
    </div>
</section>
<!-- Expanded guide section -->
<section class="guide guide-expanded">
    <div class="head">
        <i class="fa-solid fa-mobile-screen"></i>
        <h2>Mobile Devices</h2>
    </div>
    <div class="toggle-group">
        <div class="toggle-container">
            <p class="toggle-item selected">'How to' guide</p>
            <p class="toggle-item">Troubleshooting</p>
        </div>
    </div>
    <div class="help-group guide">
        <!-- Connect to Wifi -->
        <div class="help-item">
            <div class="help-head">
                <i class="fa-solid fa-angle-down fa-2xs arrow-icons"></i>
                <p>Connect to wifi</p>
            </div>
            <div class="help-body hidden-item">
                <ul>
                    <li>Open the <strong>Settings</strong> app.</li>
                    <li>Tap <strong>Wi-Fi</strong>.</li>
                    <li>Make sure the Wi-Fi is turned on.</li>
                    <li>You should see a list of available networks. Tap the one you want to join.</li>
                    <li>Enter the password if asked, and then hit <strong>Connect</strong>.</li>
                </ul>
            </div>
        </div>
        <!-- Change screen brightness -->
        <div class="help-item">
            <div class="help-head">
                <i class="fa-solid fa-angle-down fa-2xs arrow-icons"></i>
                <p>Change screen brightness</p>
            </div>
            <div class="help-body hidden-item">
                <ul>
                    <li>Swipe down from the top of your screen.</li>
                    <li>You should see a little brightness slider - move it left or right to make your screen darker or
                        brighter.</li>
                    <li>Or, you can go to <strong>Settings</strong> > <strong>Display</strong> and adjust it there.</li>
                </ul>
            </div>
        </div>
        <!-- Set an alarm -->
        <div class="help-item">
            <div class="help-head">
                <i class="fa-solid fa-angle-down fa-2xs arrow-icons"></i>
                <p>Set an alarm</p>
            </div>
            <div class="help-body hidden-item">
                <ul>
                    <li>Open the <strong>Clock</strong> app.</li>
                    <li>Tap the <strong>Alarm</strong> tab.</li>
                    <li>Tap the <strong>+</strong> icon to add a new alarm.</li>
                    <li>Set the time and any other preferences, then tap <strong>Save</strong>.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="help-group troubleshoot">
        <!-- Sound not working -->
        <div class="help-item">
            <div class="help-head">
                <i class="fa-solid fa-angle-down fa-2xs arrow-icons"></i>
                <p>Sound not working</p>
            </div>
            <div class="help-body hidden-item">
                <ul>
                    <li>Check the volume settings to ensure it's turned up.</li>
                    <li>Test with a different app to rule out the possibility of app-related issues.</li>
                    <li>If you are using headphones, make sure they are plugged in properly.</li>
                    <li>If the issue persists, try restarting your phone or resetting sound settings.</li>
                </ul>
            </div>
        </div>
        <!-- Bluetooth troubleshoot -->
        <div class="help-item">
            <div class="help-head">
                <i class="fa-solid fa-angle-down fa-2xs arrow-icons"></i>
                <p>Bluetooth not connecting</p>
            </div>
            <div class="help-body hidden-item">
                <ul>
                    <li>Make sure Bluetooth is turned on in your <strong>Settings</strong>.</li>
                    <li>Ensure the device you are connecting to is also in a pairing mode or discoverable.</li>
                    <li>Try 'forgetting' the device in your Bluetooth settings and reconnecting.</li>
                    <li>If the issue persists, restart both devices and try again.</li>
                </ul>
            </div>
        </div>
        <!-- Set an alarm -->
        <div class="help-item">
            <div class="help-head">
                <i class="fa-solid fa-angle-down fa-2xs arrow-icons"></i>
                <p>Set an alarm</p>
            </div>
            <div class="help-body hidden-item">
                <ul>
                    <li>Open the <strong>Clock</strong> app.</li>
                    <li>Tap the <strong>Alarm</strong> tab.</li>
                    <li>Tap the <strong>+</strong> icon to add a new alarm.</li>
                    <li>Set the time and any other preferences, then tap <strong>Save</strong>.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}